# 1. Creating the Scheme in the Local Host

### Create MYSQL connector

In [45]:
import MySQLdb as mdb

In [46]:
# creating connection
con = mdb.connect(
                host = '127.0.0.1', user = 'root', passwd = 'root') #optional - db="schema_name"

In [47]:
# setting a cursor
cursor = con.cursor()     # get the cursor

### DDL - Create Schema

In [50]:
cursor.execute("DROP SCHEMA IF EXISTS Yelp_Pittsburgh ;")
cursor.execute("CREATE SCHEMA IF NOT EXISTS Yelp_Pittsburgh ;")
cursor.execute("USE Yelp_Pittsburgh ;")
cursor.execute('SET SQL_MODE=ANSI_QUOTES') #important for petl operation - use this kind of quotes

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: Warning: Changing sql mode 'NO_AUTO_CREATE_USER' is deprecated. It will be removed in a future release.

0L

### Create Tables

In [54]:
#dim_users table creation
cursor.execute("""
    CREATE TABLE IF NOT EXISTS dim_users (
        `user_id` int(11) NOT NULL AUTO_INCREMENT,
        `yelp_user_id` VARCHAR(20) NOT NULL,
        `review_count` INT(11),
        `fans` INT(11),
        `is_elite` BINARY NOT NULL,
        `yelping_since` DATE,
        `friends_count` INT(11) NOT NULL,
        PRIMARY KEY (`user_id`));
        """)

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:12: Warning: Table 'dim_users' already exists

0L

In [55]:
#dim_business table creation
cursor.execute("""
    CREATE TABLE IF NOT EXISTS dim_business (       
        `business_id` INT(11) NOT NULL AUTO_INCREMENT,
        `Yelp_business_id` VARCHAR(20) NOT NULL,
        `business_name` VARCHAR(20) NOT NULL,
        `is_open` BINARY NOT NULL,
        `neighborhood` VARCHAR(20) NOT NULL,
        `latitude` FLOAT(11),
        `longitude` FLOAT(11),
        `stars` FLOAT(11),
        `review_count` INT(11) NOT NULL,
        `category` VARCHAR(20),
        `checkin_sum` INT(11),
        PRIMARY KEY (`business_id`));
        """)

0L

In [ ]:
#dim_dates table creation
cursor.execute("""
    CREATE TABLE IF NOT EXISTS dim_dates (       
        `date_id` INT(11) NOT NULL AUTO_INCREMENT,
        `date` DATE NOT NULL,
        `day` INT(11) NOT NULL,
        `month` INT(11) NOT NULL,
        `year` INT(11)
        `day_name` VARCHAR(45) NOT NULL,
        `holiday` VARCHAR(45),
        PRIMARY KEY (`date_id`));
        """)

In [18]:
#fact_review table creation
cursor.execute("""
    CREATE TABLE IF NOT EXISTS fact_reviews (
        `review_id` INT(11) NOT NULL AUTO_INCREMENT,
        `yelp_review_id VARCHAR(20) NOT NULL,
        `user_id` INT(11) NOT NULL,
        `business_id` INT(11) NOT NULL,
        `date_id` int(11) NOT NULL,
        `stars` FLOAT(11),
        `votes_aggregate` INT(11),
        PRIMARY KEY (`ID`)
        ) ;   """)

0L

In [20]:
#commit changes
con.commit()

### Closing the connection

In [21]:
#closing the connection
cursor.close()
con.close()

# 2. ETL

## Users

## Business

## Date

## Reviews

In [2]:
import petl as etl

ImportError: No module named petl