# ETL Dim_Date

install petl by running ```pip install petl``` in Command-Line

In [6]:
import petl as etl
import datetime


# Load

We can save the ouput in multiple ways. First - Let's try csv (that we already know how to load to MySQL)

Now we will work with MySQL cursor to load the data - First we'll create the schema and tables

In [18]:
import MySQLdb as mdb

In [19]:
con = mdb.connect(
                host = '127.0.0.1', user = 'root', passwd = 'root') #optional - db="schema_name"  
# setting a cursor
cur = con.cursor()     # get the cursor

#### append data to existing tables

In [21]:
cursor.execute("""
SET @currdate := "2005-01-01";
SET @enddate := "2018-01-01";
delimiter $$
DROP PROCEDURE IF EXISTS BuildDate$$
CREATE PROCEDURE BuildDate()
 BEGIN
 WHILE @currdate < @enddate DO
 INSERT INTO dim_dates (date, day, month, year, day_name)
 VALUES (
 @currdate, DAY(@currdate), MONTH(@currdate),
 YEAR(@currdate), DAYNAME(@currdate)
);
 SET @currdate := DATE_ADD(@currdate, INTERVAL 1 DAY);
END WHILE;
 END$$
CALL BuildDate();
""")

OperationalError: (1054, "Unknown column 'old_user_id' in 'field list'")

In [17]:
cur.close()

adding the holiday column

In [1]:
con1 = mdb.connect(
                host = '127.0.0.1', user = 'root', passwd = 'root') #optional - db="schema_name"  
# setting a cursor
cur1 = con1.cursor()     # get the cursor

NameError: name 'mdb' is not defined

In [2]:
cursor1.execute("""
update dim_dates 
set holiday = 'New Year''s Day'
where day = 01 and month = 01;
""")

NameError: name 'cursor' is not defined

In [ ]:
cur1.close()

In [4]:
cur2 = con1.cursor()     # get the cursor

NameError: name 'con1' is not defined

In [ ]:
cursor2.execute("""
update dim_dates 
set holiday = 'Halloween'
where day = 31 and month = 10;
""")

In [ ]:
cur2.close()

In [ ]:
cur3 = con1.cursor()     # get the cursor

In [ ]:
cursor3.execute("""
update dim_dates 
set holiday = 'Independence Day, U.S'
where day = 04 and month = 07;
""")

In [ ]:
cur3.close()

In [ ]:
cur4 = con1.cursor()     # get the cursor

In [ ]:
cursor4.execute("""
update dim_dates 
set holiday = 'Memorial Day'
where date = '2005-05-30' or date = '2006-05-29' or date = '2007-05-28' or date = '2008-05-26' or date = '2009-05-25'
or date = '2010-05-31' or date = '2011-05-30' or date = '2012-05-28' or date = '2013-05-27' or date = '2014-05-26'
or date = '2015-05-25' or date = '2016-05-30' or date = '2017-05-29';
""")

In [ ]:
cursor4.execute("""
update dim_dates 
set holiday = 'Thanksgiving Day'
where date = '2005-11-23' or date = '2006-11-22' or date = '2007-11-28' or date = '2008-11-27' or date = '2009-11-25'
or date = '2010-11-24' or date = '2011-11-23' or date = '2012-11-22' or date = '2013-11-27' or date = '2014-11-26'
or date = '2015-11-25' or date = '2016-11-24' or date = '2017-11-23';
""")

In [ ]:
cursor4.execute("""
update dim_dates 
set holiday = 'Christmas Day'
where day = 25 and month = 12;
""")

In [ ]:
cursor4.execute("""
update dim_dates 
set holiday = 'Christmas Eve'
where day = 24 and month = 12;
""")

In [ ]:
cursor4.execute("""
update dim_dates 
set holiday = 'Black Friday'
where day_name = 'Friday' and month = 11 and day between 21 and 29;
""")

In [ ]:
cur4.close()