# ETL with Python

# pETL package
pETL is a general purpose Python package for extracting, transforming and loading tables of data.
<br>
Extract & Load : http://petl.readthedocs.io/en/latest/io.html
<br>
transform: http://petl.readthedocs.io/en/latest/transform.html

install petl by running ```pip install petl``` in Command-Line

In [4]:
import petl as etl
import datetime

# Extract

### Extract JSON file and display

In [5]:
filename= 'yelp_academic_dataset_users_nofriendlist_PA.json'

In [6]:
t1 = etl.fromjson(filename)
t1.display(10)

yelping_since,useful,compliment_photos,compliment_list,compliment_funny,compliment_plain,user_id,fans,type,compliment_note,funny,compliment_writer,compliment_cute,average_stars,review_count,compliment_more,elite,compliment_hot,cool,name,compliment_profile,compliment_cool
2007-12-10,565,20,10,251,138,v10dHdqf42tUkxbYVnFW6w,53,user,194,987,39,21,3.23,591,17,"[u'2009', u'2008', u'2010', u'2011']",191,743,Chris,5,251
2011-03-27,324,121,10,222,171,UrOofvcBl0gAbKPAEaj83A,37,user,175,312,172,11,3.91,338,38,"[u'2014', u'2015']",213,321,Louise,25,222
2012-11-22,1,0,0,0,0,-ONyyxFUhDatBG3vw6PkUw,0,user,0,0,0,0,3.73,11,0,[u'None'],0,0,Kaitlin,0,0
2010-03-29,1143,12,1,194,173,p03AKnMXXbgetIEHHFP3wQ,43,user,77,481,84,1,3.54,359,8,"[u'2017', u'2012', u'2013', u'2015', u'2016', u'2014']",140,379,Heather,2,194
2010-07-12,66,0,0,0,1,7rKWM_1lPM4oGdXegFjp9g,3,user,1,8,0,0,3.9,42,0,[u'None'],0,11,Angelica,0,0
2012-09-03,4,0,0,2,0,57vdnMXfheEeiVd_kzxUlg,2,user,0,0,1,0,3.81,40,0,[u'None'],3,0,Amber,0,2
2008-06-05,440,1,1,112,45,6DbvYyAvTtXTmVOAG32Djw,9,user,15,469,21,0,4.04,188,7,"[u'2011', u'2010']",46,470,Sharon,2,112
2010-06-12,99,0,0,10,5,3vYsjC90S80legSDDTmqcA,10,user,3,28,8,0,3.97,71,0,"[u'2013', u'2012']",8,12,Donna,0,10
2009-03-30,65,1,1,13,15,CFyvX-AZh6cunAMu_zoF_w,8,user,8,21,10,0,3.61,167,3,"[u'2011', u'2012', u'2013', u'2014', u'2010']",7,3,Rosalie,0,13
2012-07-24,7,0,0,0,0,cYXznfbPK_ShlepnUiLpcw,1,user,0,1,1,0,3.94,14,0,[u'None'],1,0,Je'Amour,0,0

creating the users dimension:  
user_id= varchar(20)
friends_count= INT
review_count= INT
fans= INT
is_elite= Binary
yelping_since= Date

In [7]:
t2 = t1.cut(['user_id','review_count','fans','elite','yelping_since'])
t2.display(10)

user_id,review_count,fans,elite,yelping_since
v10dHdqf42tUkxbYVnFW6w,591,53,"[u'2009', u'2008', u'2010', u'2011']",2007-12-10
UrOofvcBl0gAbKPAEaj83A,338,37,"[u'2014', u'2015']",2011-03-27
-ONyyxFUhDatBG3vw6PkUw,11,0,[u'None'],2012-11-22
p03AKnMXXbgetIEHHFP3wQ,359,43,"[u'2017', u'2012', u'2013', u'2015', u'2016', u'2014']",2010-03-29
7rKWM_1lPM4oGdXegFjp9g,42,3,[u'None'],2010-07-12
57vdnMXfheEeiVd_kzxUlg,40,2,[u'None'],2012-09-03
6DbvYyAvTtXTmVOAG32Djw,188,9,"[u'2011', u'2010']",2008-06-05
3vYsjC90S80legSDDTmqcA,71,10,"[u'2013', u'2012']",2010-06-12
CFyvX-AZh6cunAMu_zoF_w,167,8,"[u'2011', u'2012', u'2013', u'2014', u'2010']",2009-03-30
cYXznfbPK_ShlepnUiLpcw,14,1,[u'None'],2012-07-24

# Transform

In [8]:
fields = t2.fieldnames()
for f in fields:
    print f,'\t', t2.typecounter(f)

user_id 	Counter({'unicode': 52141})
review_count 	Counter({'int': 52141})
fans 	Counter({'int': 52141})
elite 	Counter({'unicode': 52141})
yelping_since 	Counter({'unicode': 52141})

convet unicode type to binary (creating is_elite field)

In [9]:
def to_binary(text):
    if text[3:7] == 'None':
        return 0 
    return 1

t3 = t2.convert('elite' , to_binary)
t3.display(10)

user_id,review_count,fans,elite,yelping_since
v10dHdqf42tUkxbYVnFW6w,591,53,1,2007-12-10
UrOofvcBl0gAbKPAEaj83A,338,37,1,2011-03-27
-ONyyxFUhDatBG3vw6PkUw,11,0,0,2012-11-22
p03AKnMXXbgetIEHHFP3wQ,359,43,1,2010-03-29
7rKWM_1lPM4oGdXegFjp9g,42,3,0,2010-07-12
57vdnMXfheEeiVd_kzxUlg,40,2,0,2012-09-03
6DbvYyAvTtXTmVOAG32Djw,188,9,1,2008-06-05
3vYsjC90S80legSDDTmqcA,71,10,1,2010-06-12
CFyvX-AZh6cunAMu_zoF_w,167,8,1,2009-03-30
cYXznfbPK_ShlepnUiLpcw,14,1,0,2012-07-24

build the friends_count column by join (users and friends)

In [10]:
source = 'Pittsburgh_full_friend_text.json'
t4 = etl.fromjson(source)
t5 = t3.join(t4, # right table
                   lkey='user_id',rkey='user_id', #join equality columns
                   rprefix='t4_') # prefixes of columns from each table (not mandatory)

def friend_count(text):
    if text[0]=='[' and text[-1]==']':
        items =  text[1:-1].split(', ') # turn values to list
        if text[3:7]== 'None':
            return 0
        return len(items)

t6 = t5.convert('t4_friends' , friend_count)
t6.display(10)

user_id,review_count,fans,elite,yelping_since,t4_friends
--26jc8nCJBy4-7r3ZtmiQ,2,0,0,2014-08-03,0
--6CV8BPNofy7jt1JavD-g,32,2,0,2011-08-29,1
--8EvC9O7Ycim8vCP4Cj0w,4,0,0,2014-08-14,33
--CH8yRGXhO2MmbF-4BWXg,12,0,0,2011-07-18,0
--EMqnd727rtC0G5Oc-Mrg,28,0,0,2008-08-05,1
--OECAoqfSTBaZ3biOyzwA,4,0,0,2016-09-20,0
--RBfYfIpx44V5Kux2fPFA,11,0,0,2013-06-24,0
--TvGNywm2I1iwNWZmerBA,1,0,0,2012-04-27,0
--Yrq6JLmQNdbZkWJsHy5Q,145,8,1,2010-03-12,61
--_WHb1Fw3fH6RXbxpExgA,1,0,0,2013-01-14,1

adding new user ID and rename the table

In [11]:
t7 = t6.addrownumbers()
t8 = t7.rename({'row':'User_ID','user_id':'old_user_id','elite':'is_elite','t4_friends':'friends_count'})
t8.display(10)

User_ID,old_user_id,review_count,fans,is_elite,yelping_since,friends_count
1,--26jc8nCJBy4-7r3ZtmiQ,2,0,0,2014-08-03,0
2,--6CV8BPNofy7jt1JavD-g,32,2,0,2011-08-29,1
3,--8EvC9O7Ycim8vCP4Cj0w,4,0,0,2014-08-14,33
4,--CH8yRGXhO2MmbF-4BWXg,12,0,0,2011-07-18,0
5,--EMqnd727rtC0G5Oc-Mrg,28,0,0,2008-08-05,1
6,--OECAoqfSTBaZ3biOyzwA,4,0,0,2016-09-20,0
7,--RBfYfIpx44V5Kux2fPFA,11,0,0,2013-06-24,0
8,--TvGNywm2I1iwNWZmerBA,1,0,0,2012-04-27,0
9,--Yrq6JLmQNdbZkWJsHy5Q,145,8,1,2010-03-12,61
10,--_WHb1Fw3fH6RXbxpExgA,1,0,0,2013-01-14,1

In [12]:
fields = t8.fieldnames()
for f in fields:
    print f,'\t', t8.typecounter(f)

User_ID 	Counter({'int': 52141})
old_user_id 	Counter({'unicode': 52141})
review_count 	Counter({'int': 52141})
fans 	Counter({'int': 52141})
is_elite 	Counter({'int': 52141})
yelping_since 	Counter({'unicode': 52141})
friends_count 	Counter({'int': 52141})


# Load

We can save the ouput in multiple ways. First - Let's try csv (that we already know how to load to MySQL)

Now we will work with MySQL cursor to load the data - First we'll create the schema and tables

In [18]:
import MySQLdb as mdb

In [19]:
con = mdb.connect(
                host = '127.0.0.1', user = 'root', passwd = 'root') #optional - db="schema_name"  
# setting a cursor
cur = con.cursor()     # get the cursor

#### append data to existing tables

In [21]:
cur.execute('SET SQL_MODE=ANSI_QUOTES')
t8.appenddb(cur,'dim_users',schema='yelp_pittsburgh',commit=True)

OperationalError: (1054, "Unknown column 'old_user_id' in 'field list'")

#### Now we can find all our data in MySQL server:

In [140]:
cur.execute(""" SELECT * 
                FROM drinks.countries
                WHERE country like 'N%' ;""")

print cur.fetchall()

(('North Korea', 'AS', 0.0, 0L), ('Namibia', 'AF', 6.8, 380L), ('Nauru', 'OC', 1.0, 57L), ('Nepal', 'AS', 0.2, 11L), ('Netherlands', 'EU', 9.4, 529L), ('New Zealand', 'OC', 9.3, 457L), ('Nicaragua', None, 3.5, 197L), ('Niger', 'AF', 0.1, 6L), ('Nigeria', 'AF', 9.1, 49L), ('Niue', 'OC', 7.0, 395L), ('Norway', 'EU', 6.7, 369L), ('Neverland', None, 0.0, 0L), ('Neverland', None, 0.0, 0L))

## P.S. - Pandas

Another very commonly used package for data manipulation is Pandas (http://pandas.pydata.org/), used not only for ETL but for data analysis, visuialization and data mining. You're welcome to check out this package and use it in your projects.

In [17]:
cur.close()