# ETL with Python

# pETL package
pETL is a general purpose Python package for extracting, transforming and loading tables of data.
<br>
Extract & Load : http://petl.readthedocs.io/en/latest/io.html
<br>
transform: http://petl.readthedocs.io/en/latest/transform.html

install petl by running ```pip install petl``` in Command-Line

In [1]:
import petl as etl
import csv

# Extract

### Extract JSON file and display

In [2]:
filename= 'yelp_academic_dataset_business_PA.json'

In [3]:
t1 = etl.fromjson(filename)
t1.display(10)

city,review_count,neighborhood,name,business_id,longitude,postal_code,hours,state,is_open,stars,address,latitude,attributes,type,categories
Oakdale,4,None,Plush Salon and Spa,cnGIivYRLxpF7tBVR_JwWA,-80.1745398943,15071.0,"[u'Tuesday 10:0-21:0', u'Wednesday 10:0-21:0', u'Thursday 10:0-21:0', u'Friday 10:0-18:0', u'Saturday 9:0-16:0']",PA,1,4.0,7014 Steubenville Pike,40.4445439533,"[u'AcceptsInsurance: False', u'BusinessAcceptsCreditCards: True', u""BusinessParking: {'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}"", u'ByAppointmentOnly: True', u""HairSpecializesIn: {'coloring': False, 'africanamerican': False, 'curly': False, 'perms': False, 'kids': False, 'extensions': False, 'asian': False, 'straightperms': False}"", u'RestaurantsPriceRange2: 3']",business,"[u'Hair Removal', u'Beauty & Spas', u'Blow Dry/Out Services', u'Hair Stylists', u'Hair Extensions', u'Massage', u'Permanent Makeup', u'Waxing', u'Hair Salons']"
Pittsburgh,8,West View,Benjamin Franklin Plumbing,P3LisOj7DktgGa7C5FYpnA,-80.0498873,15237.0,"[u'Monday 9:30-9:0', u'Tuesday 9:30-9:0', u'Wednesday 9:30-9:0', u'Thursday 9:30-9:0', u'Friday 9:30-9:0', u'Saturday 9:30-9:0', u'Sunday 9:30-9:0']",PA,1,4.0,451 Rochester Rd,40.5341627,[u'BusinessAcceptsCreditCards: True'],business,"[u'Plumbing', u'Home Services']"
Pittsburgh,102,North Side,Rivertowne,93otbGHE0s0m-lU1osvg9w,-80.0108802,15212.0,None,PA,1,3.0,337 N Shore Dr,40.4459861,"[u'Alcohol: full_bar', u""Ambience: {'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}"", u""BestNights: {'monday': False, 'tuesday': False, 'friday': True, 'wednesday': False, 'thursday': False, 'sunday': True, 'saturday': True}"", u'BikeParking: True', u'BusinessAcceptsCreditCards: True', u""BusinessParking: {'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}"", u'Caters: False', u'CoatCheck: False', u'GoodForDancing: False', u'GoodForKids: True', u""GoodForMeal: {'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'breakfast': False, 'brunch': False}"", u'HappyHour: True', u'HasTV: True', u""Music: {'dj': False, 'background_music': False, 'no_music': False, 'karaoke': False, 'live': False, 'video': False, 'jukebox': False}"", u'NoiseLevel: loud', u'OutdoorSeating: True', u'RestaurantsAttire: casual', u'RestaurantsDelivery: False', u'RestaurantsGoodForGroups: True', u'RestaurantsPriceRange2: 2', u'RestaurantsReservations: False', u'RestaurantsTableService: True', u'RestaurantsTakeOut: True', u'Smoking: no', u'WheelchairAccessible: True', u'WiFi: free']",business,"[u'American (New)', u'Pubs', u'Nightlife', u'Bars', u'Restaurants']"
Pittsburgh,5,Greentree,City Vista,csdZolWIWvkIHIqsCmV6sg,-80.037872133,15220.0,"[u'Monday 10:0-18:0', u'Tuesday 10:0-18:0', u'Wednesday 10:0-18:0', u'Thursday 10:0-18:0', u'Friday 10:0-18:0', u'Saturday 10:0-17:0', u'Sunday 13:0-17:0']",PA,1,2.0,325 Elizabeth Dr,40.4263863165,"[u'BusinessAcceptsCreditCards: True', u'ByAppointmentOnly: False']",business,"[u'Hotels & Travel', u'Home Services', u'Hotels', u'Apartments', u'Event Planning & Services', u'Real Estate Services', u'Real Estate']"
Etna,38,Etna,The Scarehouse,kdjrQ2tuY4eqo4JZWIx50Q,-79.944321,15223.0,"[u'Thursday 19:0-22:0', u'Friday 19:0-0:0', u'Saturday 19:0-0:0', u'Sunday 19:0-22:0']",PA,1,3.5,118 Locust St,40.499285,[u'GoodForKids: False'],business,"[u'Performing Arts', u'Arts & Entertainment']"
Pittsburgh,5,Bloomfield,Verizon Wireless Premium Retailer,h7ZW6c1Vi9V6_-gd2Ch_4g,-79.946995,15213.0,"[u'Monday 10:0-21:0', u'Tuesday 10:0-21:0', u'Wednesday 10:0-21:0', u'Thursday 10:0-21:0', u'Friday 10:0-21:0', u'Saturday 10:0-21:0', u'Sunday 11:0-17:0']",PA,1,2.0,4815 Centre Ave,40.453725,"[u'BusinessAcceptsCreditCards: True', u""BusinessParking: {'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}"", u'DogsAllowed: True', u'RestaurantsPriceRange2: 4', u'WheelchairAccessible: True']",business,"[u'Shopping', u'Mobile Phones']"
Bridgeville,8,None,My Favorite Sweet Shoppe,CO7TpBuNFr_K0MTRaf9prw,-80.0951019,15017.0,"[u'Monday 10:0-20:0', u'Tuesday 10:0-20:0', u'Wednesday 10:0-20:0', u'Thursday 10:0-20:0', u'Friday 10:0-20:0', u'Saturday 10:0-20:0', u'Sunday 10:0-18:0']",PA,1,5.0,1597 Washington Pike,40.3828646,"[u'BikeParking: False', u'BusinessAcceptsCreditCards: True', u""BusinessParking: {'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}"", u'DogsAllowed: False', u'RestaurantsPriceRange2: 2', u'RestaurantsTakeOut: True', u'WheelchairAccessible: True']",business,"[u'Chocolatiers & Shops', u'Candy Stores', u'Desserts', u'Gelato', u'Specialty Food', u'Food']"
Pittsburgh,3,Strip District,Dulcinea Bakeshop,HWrbZS1mxVRj2Y2VwMmDMg,-79.9777282029,15222.0,None,PA,0,4.5,2627 Penn Ave,40.4553505818,"[u'BikeParking: True', u'BusinessAcceptsCreditCards: True', u""BusinessParking: {'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}"", u'RestaurantsPriceRange2: 1']",business,"[u'Food', u'Bakeries']"
Pittsburgh,145,Oakland,Conflict Kitchen,jDqaz1jKdeWk_fTVCzc1Pg,-79.9527347618,15213.0,"[u'Monday 11:0-19:0', u'Tuesday 11:0-19:0', u'Wednesday 11:0-19:0', u'Thursday 11:0-19:0', u'Friday 11:0-19:0', u'Saturday 11:0-19:0', u'Sunday 11:0-19:0']",PA,1,4.5,221 Schenley Dr,40.44258082,"[u'BikeParking: True', u'BusinessAcceptsCreditCards: True', u""BusinessParking: {'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}"", u'ByAppointmentOnly: False', u""GoodForMeal: {'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'breakfast': False, 'brunch': False}"", u'RestaurantsDelivery: False', u'RestaurantsPriceRange2: 1', u'RestaurantsTakeOut: True', u'WheelchairAccessible: True', u'RestaurantsAttire: casual', u'RestaurantsGoodForGroups: True']",business,"[u'Food', u'Imported Food', u'Restaurants', u'Ethnic Food', u'Specialty Food']"
Pittsburgh,25,South Side,Tusca Restaurant,HYwbHY-srAOoH-t337DpMw,-79.964962,15203.0,"[u'Monday 11:30-21:0', u'Tuesday 11:30-21:0', u'Wednesday 11:30-21:0', u'Thursday 11:30-21:0', u'Friday 11:30-23:0', u'Friday 23:0-2:0', u'Saturday 11:30-23:0', u'Saturday 23:0-2:0', u'Sunday 11:30-21:0']",PA,0,2.0,2773 Sidney St,40.4273611,"[u'Alcohol: full_bar', u'BYOB: False', u'BYOBCorkage: no', u'BusinessAcceptsCreditCards: True', u""BusinessParking: {'garage': True, 'street': True, 'validated': False, 'lot': False, 'valet': False}"", u'GoodForKids: False', u""GoodForMeal: {'dessert': False, 'latenight': False, 'lunch': False, 'dinner': True, 'breakfast': False, 'brunch': False}"", u'HasTV: False', u'OutdoorSeating: True', u'RestaurantsAttire: casual', u'RestaurantsDelivery: False', u'RestaurantsGoodForGroups: True', u'RestaurantsPriceRange2: 3', u'RestaurantsReservations: True', u'RestaurantsTableService: True', u'RestaurantsTakeOut: False', u'WheelchairAccessible: True']",business,"[u'Tapas Bars', u'Restaurants']"

#### See the number of records

In [4]:
t1.nrows()

8091

### Learning types

In [5]:
for f in fields:
    print f,'\t', t1.typecounter(f)

NameError: name 'fields' is not defined

_______________________________

###Extract csv file- for mapping the categories

In [6]:
csv_filename = "category.csv"
map_categories_table = etl.fromcsv(csv_filename)
map_categories_table.display(5)

Text,Category,,,,,,,,,,
Plumbing,10,,,,,,,,,,
American (New),1,,,,,,,,,,
Hotels & Travel,7,,,,,,,,,,
Shopping,3,,,,,,,,,,
Food,1,,,,,,,,,,

###Create dic to map all categories to 10 main

In [7]:
categories_dic = {}
for row in map_categories_table:
    categories_dic[row[0]] = row[1]

# Transform

#### We can add a new field based on row calculation - for example total price

### Lets cut out the relevant columns in the order we want- not working at the moment

In [8]:
t2 = etl.select(t1, "{city} =='Pittsburgh'") 
t2.display(10)

city,review_count,neighborhood,name,business_id,longitude,postal_code,hours,state,is_open,stars,address,latitude,attributes,type,categories
Pittsburgh,8,West View,Benjamin Franklin Plumbing,P3LisOj7DktgGa7C5FYpnA,-80.0498873,15237.0,"[u'Monday 9:30-9:0', u'Tuesday 9:30-9:0', u'Wednesday 9:30-9:0', u'Thursday 9:30-9:0', u'Friday 9:30-9:0', u'Saturday 9:30-9:0', u'Sunday 9:30-9:0']",PA,1,4.0,451 Rochester Rd,40.5341627,[u'BusinessAcceptsCreditCards: True'],business,"[u'Plumbing', u'Home Services']"
Pittsburgh,102,North Side,Rivertowne,93otbGHE0s0m-lU1osvg9w,-80.0108802,15212.0,None,PA,1,3.0,337 N Shore Dr,40.4459861,"[u'Alcohol: full_bar', u""Ambience: {'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}"", u""BestNights: {'monday': False, 'tuesday': False, 'friday': True, 'wednesday': False, 'thursday': False, 'sunday': True, 'saturday': True}"", u'BikeParking: True', u'BusinessAcceptsCreditCards: True', u""BusinessParking: {'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}"", u'Caters: False', u'CoatCheck: False', u'GoodForDancing: False', u'GoodForKids: True', u""GoodForMeal: {'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'breakfast': False, 'brunch': False}"", u'HappyHour: True', u'HasTV: True', u""Music: {'dj': False, 'background_music': False, 'no_music': False, 'karaoke': False, 'live': False, 'video': False, 'jukebox': False}"", u'NoiseLevel: loud', u'OutdoorSeating: True', u'RestaurantsAttire: casual', u'RestaurantsDelivery: False', u'RestaurantsGoodForGroups: True', u'RestaurantsPriceRange2: 2', u'RestaurantsReservations: False', u'RestaurantsTableService: True', u'RestaurantsTakeOut: True', u'Smoking: no', u'WheelchairAccessible: True', u'WiFi: free']",business,"[u'American (New)', u'Pubs', u'Nightlife', u'Bars', u'Restaurants']"
Pittsburgh,5,Greentree,City Vista,csdZolWIWvkIHIqsCmV6sg,-80.037872133,15220.0,"[u'Monday 10:0-18:0', u'Tuesday 10:0-18:0', u'Wednesday 10:0-18:0', u'Thursday 10:0-18:0', u'Friday 10:0-18:0', u'Saturday 10:0-17:0', u'Sunday 13:0-17:0']",PA,1,2.0,325 Elizabeth Dr,40.4263863165,"[u'BusinessAcceptsCreditCards: True', u'ByAppointmentOnly: False']",business,"[u'Hotels & Travel', u'Home Services', u'Hotels', u'Apartments', u'Event Planning & Services', u'Real Estate Services', u'Real Estate']"
Pittsburgh,5,Bloomfield,Verizon Wireless Premium Retailer,h7ZW6c1Vi9V6_-gd2Ch_4g,-79.946995,15213.0,"[u'Monday 10:0-21:0', u'Tuesday 10:0-21:0', u'Wednesday 10:0-21:0', u'Thursday 10:0-21:0', u'Friday 10:0-21:0', u'Saturday 10:0-21:0', u'Sunday 11:0-17:0']",PA,1,2.0,4815 Centre Ave,40.453725,"[u'BusinessAcceptsCreditCards: True', u""BusinessParking: {'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}"", u'DogsAllowed: True', u'RestaurantsPriceRange2: 4', u'WheelchairAccessible: True']",business,"[u'Shopping', u'Mobile Phones']"
Pittsburgh,3,Strip District,Dulcinea Bakeshop,HWrbZS1mxVRj2Y2VwMmDMg,-79.9777282029,15222.0,None,PA,0,4.5,2627 Penn Ave,40.4553505818,"[u'BikeParking: True', u'BusinessAcceptsCreditCards: True', u""BusinessParking: {'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}"", u'RestaurantsPriceRange2: 1']",business,"[u'Food', u'Bakeries']"
Pittsburgh,145,Oakland,Conflict Kitchen,jDqaz1jKdeWk_fTVCzc1Pg,-79.9527347618,15213.0,"[u'Monday 11:0-19:0', u'Tuesday 11:0-19:0', u'Wednesday 11:0-19:0', u'Thursday 11:0-19:0', u'Friday 11:0-19:0', u'Saturday 11:0-19:0', u'Sunday 11:0-19:0']",PA,1,4.5,221 Schenley Dr,40.44258082,"[u'BikeParking: True', u'BusinessAcceptsCreditCards: True', u""BusinessParking: {'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}"", u'ByAppointmentOnly: False', u""GoodForMeal: {'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'breakfast': False, 'brunch': False}"", u'RestaurantsDelivery: False', u'RestaurantsPriceRange2: 1', u'RestaurantsTakeOut: True', u'WheelchairAccessible: True', u'RestaurantsAttire: casual', u'RestaurantsGoodForGroups: True']",business,"[u'Food', u'Imported Food', u'Restaurants', u'Ethnic Food', u'Specialty Food']"
Pittsburgh,25,South Side,Tusca Restaurant,HYwbHY-srAOoH-t337DpMw,-79.964962,15203.0,"[u'Monday 11:30-21:0', u'Tuesday 11:30-21:0', u'Wednesday 11:30-21:0', u'Thursday 11:30-21:0', u'Friday 11:30-23:0', u'Friday 23:0-2:0', u'Saturday 11:30-23:0', u'Saturday 23:0-2:0', u'Sunday 11:30-21:0']",PA,0,2.0,2773 Sidney St,40.4273611,"[u'Alcohol: full_bar', u'BYOB: False', u'BYOBCorkage: no', u'BusinessAcceptsCreditCards: True', u""BusinessParking: {'garage': True, 'street': True, 'validated': False, 'lot': False, 'valet': False}"", u'GoodForKids: False', u""GoodForMeal: {'dessert': False, 'latenight': False, 'lunch': False, 'dinner': True, 'breakfast': False, 'brunch': False}"", u'HasTV: False', u'OutdoorSeating: True', u'RestaurantsAttire: casual', u'RestaurantsDelivery: False', u'RestaurantsGoodForGroups: True', u'RestaurantsPriceRange2: 3', u'RestaurantsReservations: True', u'RestaurantsTableService: True', u'RestaurantsTakeOut: False', u'WheelchairAccessible: True']",business,"[u'Tapas Bars', u'Restaurants']"
Pittsburgh,4,South Side,Southside Laserwash,sDl0SxE_AoOAnPCAxfoauA,-79.9926092,15203.0,None,PA,1,2.0,629 E Carson St,40.4286206,None,business,"[u'Automotive', u'Car Wash']"
Pittsburgh,6,South Side,Zovko Bros,ZElIifFslL_948I-hI_ukw,-79.970147,15203.0,None,PA,1,3.0,2424 E Carson St,40.427648,None,business,"[u'Automotive', u'Auto Repair']"
Pittsburgh,56,The Hill District,Pizza Milano,ZYof0WYlilJ3pgWNSgmYKQ,-79.987978,15219.0,"[u'Monday 10:0-2:0', u'Tuesday 10:0-2:0', u'Wednesday 10:0-2:0', u'Thursday 10:0-2:0', u'Friday 10:0-3:0', u'Saturday 10:0-3:0', u'Sunday 10:0-2:0']",PA,1,3.5,1304 5th Ave,40.438453,"[u'Alcohol: full_bar', u""Ambience: {'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}"", u'BikeParking: True', u'BusinessAcceptsCreditCards: True', u""BusinessParking: {'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}"", u'Caters: True', u'GoodForKids: True', u'HasTV: True', u'NoiseLevel: average', u'OutdoorSeating: False', u'RestaurantsAttire: casual', u'RestaurantsDelivery: True', u'RestaurantsGoodForGroups: True', u'RestaurantsPriceRange2: 2', u'RestaurantsReservations: False', u'RestaurantsTakeOut: True', u'WiFi: no', u""GoodForMeal: {'dessert': False, 'latenight': True, 'lunch': True, 'dinner': True, 'breakfast': False, 'brunch': False}"", u'RestaurantsTableService: False']",business,"[u'Pizza', u'Restaurants']"

### order the fields

In [9]:
t3 = t2.cut(['business_id','name','is_open','neighborhood','latitude','longitude','stars','review_count','categories'])
t3.display(1)

business_id,name,is_open,neighborhood,latitude,longitude,stars,review_count,categories
P3LisOj7DktgGa7C5FYpnA,Benjamin Franklin Plumbing,1,West View,40.5341627,-80.0498873,4.0,8,"[u'Plumbing', u'Home Services']"

### order and split the categories

In [10]:
text =  t3[1][8][1:-1].split(', ')
for i in text:
    print i[2:-1]

Plumbing
Home Services

In [11]:
sample = t3[1][8]
def reduce_categories(text):
    if text[0]=='[' and text[-1]==']':
        items =  text[1:-1].split(', ') # turn values to list
    else:
        return None
    output = {}
    for i in items:
        key = categories_dic.get(i[2:-1])
        value = 1
        output[key]=int(value)
    return output

    
#print to_dict(sample)
#print type(to_dict(sample))

In [12]:
t4 = t3.convert('categories',reduce_categories)
t4.typecounter('categories')

Counter({'NoneType': 5, 'dict': 5270})

In [13]:
t5 = t4.unpackdict('categories')
t5.display(1)

business_id,name,is_open,neighborhood,latitude,longitude,stars,review_count,None,1,10,11,12,2,3,4,5,6,7,8,9
P3LisOj7DktgGa7C5FYpnA,Benjamin Franklin Plumbing,1,West View,40.5341627,-80.0498873,4.0,8,None,None,1,None,None,None,None,None,None,None,None,None,None

###Order fileds and change category fields name from number to the real name

In [14]:
t6 = etl.rename(t5, {'1': 'food','2': 'art & enteraitment','3': 'stores','4': 'beuty & spa','5': 'health','6': 'finance','7': 'turists','8': 'cars & transportation', '9': 'bars & alcohol','10': 'other','11': 'fashion','12': 'estate'})
t7 = t6.cut(['business_id','name','is_open','neighborhood','latitude','longitude','stars','review_count', 'food', 'art & enteraitment', 'stores', 'beuty & spa', 'health', 'finance', 'turists', 'cars & transportation', 'bars & alcohol', 'other', 'fashion', 'estate'])
t7.display(10)

business_id,name,is_open,neighborhood,latitude,longitude,stars,review_count,food,art & enteraitment,stores,beuty & spa,health,finance,turists,cars & transportation,bars & alcohol,other,fashion,estate
P3LisOj7DktgGa7C5FYpnA,Benjamin Franklin Plumbing,1,West View,40.5341627,-80.0498873,4.0,8,None,None,None,None,None,None,None,None,None,1,None,None
93otbGHE0s0m-lU1osvg9w,Rivertowne,1,North Side,40.4459861,-80.0108802,3.0,102,1,1,None,None,None,None,None,None,1,None,None,None
csdZolWIWvkIHIqsCmV6sg,City Vista,1,Greentree,40.4263863165,-80.037872133,2.0,5,None,1,None,None,None,None,1,None,None,1,None,1
h7ZW6c1Vi9V6_-gd2Ch_4g,Verizon Wireless Premium Retailer,1,Bloomfield,40.453725,-79.946995,2.0,5,None,None,1,None,None,None,None,None,None,None,None,None
HWrbZS1mxVRj2Y2VwMmDMg,Dulcinea Bakeshop,0,Strip District,40.4553505818,-79.9777282029,4.5,3,1,None,None,None,None,None,None,None,None,None,None,None
jDqaz1jKdeWk_fTVCzc1Pg,Conflict Kitchen,1,Oakland,40.44258082,-79.9527347618,4.5,145,1,None,None,None,None,None,None,None,None,None,None,None
HYwbHY-srAOoH-t337DpMw,Tusca Restaurant,0,South Side,40.4273611,-79.964962,2.0,25,1,None,None,None,None,None,None,None,None,None,None,None
sDl0SxE_AoOAnPCAxfoauA,Southside Laserwash,1,South Side,40.4286206,-79.9926092,2.0,4,None,None,None,None,None,None,None,1,None,None,None,None
ZElIifFslL_948I-hI_ukw,Zovko Bros,1,South Side,40.427648,-79.970147,3.0,6,None,None,None,None,None,None,None,1,None,None,None,None
ZYof0WYlilJ3pgWNSgmYKQ,Pizza Milano,1,The Hill District,40.438453,-79.987978,3.5,56,1,None,None,None,None,None,None,None,None,None,None,None

### change None to 0 in the categories fields

In [50]:
def None_to_0(text):
    if text == None:
        return 0
    else:
        return text
t8 = etl.convert(t7, ('food', 'art & enteraitment', 'stores', 'beuty & spa', 'health', 'finance', 'turists', 'cars & transportation', 'bars & alcohol', 'other', 'fashion', 'estate'), None_to_0)
t8.display(10)

business_id,name,is_open,neighborhood,latitude,longitude,stars,review_count,food,art & enteraitment,stores,beuty & spa,health,finance,turists,cars & transportation,bars & alcohol,other,fashion,estate
P3LisOj7DktgGa7C5FYpnA,Benjamin Franklin Plumbing,1,West View,40.5341627,-80.0498873,4.0,8,0,0,0,0,0,0,0,0,0,1,0,0
93otbGHE0s0m-lU1osvg9w,Rivertowne,1,North Side,40.4459861,-80.0108802,3.0,102,1,1,0,0,0,0,0,0,1,0,0,0
csdZolWIWvkIHIqsCmV6sg,City Vista,1,Greentree,40.4263863165,-80.037872133,2.0,5,0,1,0,0,0,0,1,0,0,1,0,1
h7ZW6c1Vi9V6_-gd2Ch_4g,Verizon Wireless Premium Retailer,1,Bloomfield,40.453725,-79.946995,2.0,5,0,0,1,0,0,0,0,0,0,0,0,0
HWrbZS1mxVRj2Y2VwMmDMg,Dulcinea Bakeshop,0,Strip District,40.4553505818,-79.9777282029,4.5,3,1,0,0,0,0,0,0,0,0,0,0,0
jDqaz1jKdeWk_fTVCzc1Pg,Conflict Kitchen,1,Oakland,40.44258082,-79.9527347618,4.5,145,1,0,0,0,0,0,0,0,0,0,0,0
HYwbHY-srAOoH-t337DpMw,Tusca Restaurant,0,South Side,40.4273611,-79.964962,2.0,25,1,0,0,0,0,0,0,0,0,0,0,0
sDl0SxE_AoOAnPCAxfoauA,Southside Laserwash,1,South Side,40.4286206,-79.9926092,2.0,4,0,0,0,0,0,0,0,1,0,0,0,0
ZElIifFslL_948I-hI_ukw,Zovko Bros,1,South Side,40.427648,-79.970147,3.0,6,0,0,0,0,0,0,0,1,0,0,0,0
ZYof0WYlilJ3pgWNSgmYKQ,Pizza Milano,1,The Hill District,40.438453,-79.987978,3.5,56,1,0,0,0,0,0,0,0,0,0,0,0

###add ID

In [117]:
t4 = t3.addrownumbers()
t5 = t4.rename({'row':'business_id', 'business_id':'original_id'})
t5.display()

business_id,original_id,name,is_open,neighborhood,latitude,longitude,stars,review_count,categories
1,cnGIivYRLxpF7tBVR_JwWA,Plush Salon and Spa,1,None,40.4445439533,-80.1745398943,4.0,4,"[u'Hair Removal', u'Beauty & Spas', u'Blow Dry/Out Services', u'Hair Stylists', u'Hair Extensions', u'Massage', u'Permanent Makeup', u'Waxing', u'Hair Salons']"
2,P3LisOj7DktgGa7C5FYpnA,Benjamin Franklin Plumbing,1,West View,40.5341627,-80.0498873,4.0,8,"[u'Plumbing', u'Home Services']"
3,93otbGHE0s0m-lU1osvg9w,Rivertowne,1,North Side,40.4459861,-80.0108802,3.0,102,"[u'American (New)', u'Pubs', u'Nightlife', u'Bars', u'Restaurants']"
4,csdZolWIWvkIHIqsCmV6sg,City Vista,1,Greentree,40.4263863165,-80.037872133,2.0,5,"[u'Hotels & Travel', u'Home Services', u'Hotels', u'Apartments', u'Event Planning & Services', u'Real Estate Services', u'Real Estate']"
5,kdjrQ2tuY4eqo4JZWIx50Q,The Scarehouse,1,Etna,40.499285,-79.944321,3.5,38,"[u'Performing Arts', u'Arts & Entertainment']"

_________________________________


# Load

Now we will work with MySQL cursor to load the data - First we'll create the schema and tables

In [118]:
import MySQLdb as mdb
con = mdb.connect(
                host = '127.0.0.1', user = 'root', passwd = 'root') #optional - db="schema_name"  
# setting a cursor
cur = con.cursor()     # get the cursor

Create and use the rellevant schema:

In [119]:
cur.execute('USE yelp_Pittsburgh')
cur.execute('SET SQL_MODE=ANSI_QUOTES') #important for petl operation - use this kind of quotes

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: Warning: Changing sql mode 'NO_AUTO_CREATE_USER' is deprecated. It will be removed in a future release.
  from ipykernel import kernelapp as app

0L

In [121]:
t5.todb(cur,'business',schema='yelp_Pittsburgh', create='False')

OperationalError: (1050, "Table 'business' already exists")

#### We can also append data to existing tables

In [135]:
addition = [{'country':'Neverland','continent':None,'total_pure_alcohol':0,'total_serving':0}]

In [138]:
add_table = etl.fromdicts(addition) # create table object from dictionary
add_table.display(10)

country,total_pure_alcohol,continent,total_serving
Neverland,0,None,0

In [123]:
t5.appenddb(cur,'business',schema='yelp_Pittsburgh',commit=True)

OperationalError: (1048, "Column 'categories' cannot be null")

#### Now we can find all our data in MySQL server:

In [140]:
cur.execute(""" SELECT * 
                FROM drinks.countries
                WHERE country like 'N%' ;""")

print cur.fetchall()

(('North Korea', 'AS', 0.0, 0L), ('Namibia', 'AF', 6.8, 380L), ('Nauru', 'OC', 1.0, 57L), ('Nepal', 'AS', 0.2, 11L), ('Netherlands', 'EU', 9.4, 529L), ('New Zealand', 'OC', 9.3, 457L), ('Nicaragua', None, 3.5, 197L), ('Niger', 'AF', 0.1, 6L), ('Nigeria', 'AF', 9.1, 49L), ('Niue', 'OC', 7.0, 395L), ('Norway', 'EU', 6.7, 369L), ('Neverland', None, 0.0, 0L), ('Neverland', None, 0.0, 0L))

## P.S. - Pandas

Another very commonly used package for data manipulation is Pandas (http://pandas.pydata.org/), used not only for ETL but for data analysis, visuialization and data mining. You're welcome to check out this package and use it in your projects.