# 1. Creating the Scheme in the Local Host

### Create MYSQL connector

In [1]:
import MySQLdb as mdb

In [2]:
# creating connection
try:
    con = mdb.connect(
                   host = '127.0.0.1', user = 'root', passwd = 'root', use_unicode=True, charset="utf8")
    print "The password is `root`"
except:
    print "The password in not `root`. trying `1234`"
    con = mdb.connect(
                   host = '127.0.0.1', user = 'root', passwd = '1234', use_unicode=True, charset="utf8")

The password is `root`

In [3]:
# setting a cursor
cursor = con.cursor()     # get the cursor

### DDL - Create Schema

In [4]:
cursor.execute("DROP SCHEMA IF EXISTS Yelp_Pittsburgh ;")
cursor.execute("CREATE SCHEMA IF NOT EXISTS Yelp_Pittsburgh ;")
cursor.execute("USE Yelp_Pittsburgh ;")
cursor.execute('SET SQL_MODE=ANSI_QUOTES') #important for petl operation - use this kind of quotes

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: Warning: Changing sql mode 'NO_AUTO_CREATE_USER' is deprecated. It will be removed in a future release.

0L

### Create Tables

In [5]:
#dim_users table creation
cursor.execute("""
    CREATE TABLE IF NOT EXISTS dim_users (
        `user_id` INT(11) NOT NULL AUTO_INCREMENT,
        `yelp_user_id` VARCHAR(20) NOT NULL,
        `review_count` INT(11),
        `fans` INT(11),
        `is_elite` BOOLEAN NOT NULL,
        `yelping_since` DATE,
        `friends_count` INT(11) NOT NULL,
        `average_stars` FLOAT(11),
        PRIMARY KEY (`user_id`));
        """)

0L

In [6]:
#dim_business table creation
cursor.execute("""
    CREATE TABLE IF NOT EXISTS dim_business (       
        `business_id` INT(11) NOT NULL AUTO_INCREMENT,
        `Yelp_business_id` VARCHAR(20) NOT NULL,
        `business_name` VARCHAR(20) NOT NULL,
        `is_open` BOOLEAN NOT NULL,
        `neighborhood` VARCHAR(20),
        `latitude` FLOAT(11),
        `longitude` FLOAT(11),
        `stars` FLOAT(11),
        `review_count` INT(11) NOT NULL,
        `food` BOOLEAN NOT NULL,
        `art & enteraitment` BOOLEAN NOT NULL,
        `stores` BOOLEAN NOT NULL,
        `beauty & spa` BOOLEAN NOT NULL,
        `health` BOOLEAN NOT NULL,
        `finance` BOOLEAN NOT NULL,
        `turists` BOOLEAN NOT NULL,
        `cars & transportation` BOOLEAN NOT NULL,
        `bars & alcohol` BOOLEAN NOT NULL,
        `other` BOOLEAN NOT NULL,
        `fashion` BOOLEAN NOT NULL,
        `real estate` BOOLEAN NOT NULL,
        
        PRIMARY KEY (`business_id`));
        """)

0L

In [7]:
#dim_dates table creation
cursor.execute("""
    CREATE TABLE IF NOT EXISTS dim_dates (       
        `date_id` INT(11) NOT NULL AUTO_INCREMENT,
        `date` DATE NOT NULL,
        `day` INT(11) NOT NULL,
        `month` INT(11) NOT NULL,
        `year` INT(11),
        `day_name` VARCHAR(45) NOT NULL,
        `holiday` VARCHAR(45),
        PRIMARY KEY (`date_id`));
        """)

0L

In [8]:
#fact_review table creation
cursor.execute("""
    CREATE TABLE IF NOT EXISTS fact_reviews (
        `review_id` INT(11) NOT NULL AUTO_INCREMENT,
        `yelp_review_id` VARCHAR(20) NOT NULL,
        `user_id` INT(11) NOT NULL,
        `business_id` INT(11) NOT NULL,
        `date_id` int(11) NOT NULL,
        `stars` FLOAT(11),
        `votes_aggregate` INT(11),
        PRIMARY KEY (`review_id`));
        """)

0L

In [9]:
#commit changes
con.commit()

### Closing the connection

In [10]:
#closing the connection
cursor.close()
con.close()

# 2. ETL

In [11]:
import petl as etl
import datetime

## Users

### Extract

In [12]:
# Extract JSON file and display
filename= 'yelp_academic_dataset_users_nofriendlist_PA.json'
t1 = etl.fromjson(filename)
t1.display(10)

yelping_since,useful,compliment_photos,compliment_list,compliment_funny,compliment_plain,user_id,fans,type,compliment_note,funny,compliment_writer,compliment_cute,average_stars,review_count,compliment_more,elite,compliment_hot,cool,name,compliment_profile,compliment_cool
2007-12-10,565,20,10,251,138,v10dHdqf42tUkxbYVnFW6w,53,user,194,987,39,21,3.23,591,17,"[u'2009', u'2008', u'2010', u'2011']",191,743,Chris,5,251
2011-03-27,324,121,10,222,171,UrOofvcBl0gAbKPAEaj83A,37,user,175,312,172,11,3.91,338,38,"[u'2014', u'2015']",213,321,Louise,25,222
2012-11-22,1,0,0,0,0,-ONyyxFUhDatBG3vw6PkUw,0,user,0,0,0,0,3.73,11,0,[u'None'],0,0,Kaitlin,0,0
2010-03-29,1143,12,1,194,173,p03AKnMXXbgetIEHHFP3wQ,43,user,77,481,84,1,3.54,359,8,"[u'2017', u'2012', u'2013', u'2015', u'2016', u'2014']",140,379,Heather,2,194
2010-07-12,66,0,0,0,1,7rKWM_1lPM4oGdXegFjp9g,3,user,1,8,0,0,3.9,42,0,[u'None'],0,11,Angelica,0,0
2012-09-03,4,0,0,2,0,57vdnMXfheEeiVd_kzxUlg,2,user,0,0,1,0,3.81,40,0,[u'None'],3,0,Amber,0,2
2008-06-05,440,1,1,112,45,6DbvYyAvTtXTmVOAG32Djw,9,user,15,469,21,0,4.04,188,7,"[u'2011', u'2010']",46,470,Sharon,2,112
2010-06-12,99,0,0,10,5,3vYsjC90S80legSDDTmqcA,10,user,3,28,8,0,3.97,71,0,"[u'2013', u'2012']",8,12,Donna,0,10
2009-03-30,65,1,1,13,15,CFyvX-AZh6cunAMu_zoF_w,8,user,8,21,10,0,3.61,167,3,"[u'2011', u'2012', u'2013', u'2014', u'2010']",7,3,Rosalie,0,13
2012-07-24,7,0,0,0,0,cYXznfbPK_ShlepnUiLpcw,1,user,0,1,1,0,3.94,14,0,[u'None'],1,0,Je'Amour,0,0

In [13]:
'''creating the users dimension:
user_id= varchar(20)
friends_count= INT
review_count= INT
fans= INT
is_elite= Binary
yelping_since= Date
average_stars = FLOAT'''

t2 = t1.cut(['user_id','review_count','fans','elite','yelping_since','average_stars'])
t2.display(10)

user_id,review_count,fans,elite,yelping_since,average_stars
v10dHdqf42tUkxbYVnFW6w,591,53,"[u'2009', u'2008', u'2010', u'2011']",2007-12-10,3.23
UrOofvcBl0gAbKPAEaj83A,338,37,"[u'2014', u'2015']",2011-03-27,3.91
-ONyyxFUhDatBG3vw6PkUw,11,0,[u'None'],2012-11-22,3.73
p03AKnMXXbgetIEHHFP3wQ,359,43,"[u'2017', u'2012', u'2013', u'2015', u'2016', u'2014']",2010-03-29,3.54
7rKWM_1lPM4oGdXegFjp9g,42,3,[u'None'],2010-07-12,3.9
57vdnMXfheEeiVd_kzxUlg,40,2,[u'None'],2012-09-03,3.81
6DbvYyAvTtXTmVOAG32Djw,188,9,"[u'2011', u'2010']",2008-06-05,4.04
3vYsjC90S80legSDDTmqcA,71,10,"[u'2013', u'2012']",2010-06-12,3.97
CFyvX-AZh6cunAMu_zoF_w,167,8,"[u'2011', u'2012', u'2013', u'2014', u'2010']",2009-03-30,3.61
cYXznfbPK_ShlepnUiLpcw,14,1,[u'None'],2012-07-24,3.94

#### Transform

In [14]:
fields = t2.fieldnames()
for f in fields:
    print f,'\t', t2.typecounter(f)

user_id 	Counter({'unicode': 52141})
review_count 	Counter({'int': 52141})
fans 	Counter({'int': 52141})
elite 	Counter({'unicode': 52141})
yelping_since 	Counter({'unicode': 52141})
average_stars 	Counter({'float': 52141})

In [15]:
#convet unicode type to binary (creating is_elite field)
def to_binary(text):
    if text[3:7] == 'None':
        return 0 
    return 1

t3 = t2.convert('elite' , to_binary)
t3.display(10)

user_id,review_count,fans,elite,yelping_since,average_stars
v10dHdqf42tUkxbYVnFW6w,591,53,1,2007-12-10,3.23
UrOofvcBl0gAbKPAEaj83A,338,37,1,2011-03-27,3.91
-ONyyxFUhDatBG3vw6PkUw,11,0,0,2012-11-22,3.73
p03AKnMXXbgetIEHHFP3wQ,359,43,1,2010-03-29,3.54
7rKWM_1lPM4oGdXegFjp9g,42,3,0,2010-07-12,3.9
57vdnMXfheEeiVd_kzxUlg,40,2,0,2012-09-03,3.81
6DbvYyAvTtXTmVOAG32Djw,188,9,1,2008-06-05,4.04
3vYsjC90S80legSDDTmqcA,71,10,1,2010-06-12,3.97
CFyvX-AZh6cunAMu_zoF_w,167,8,1,2009-03-30,3.61
cYXznfbPK_ShlepnUiLpcw,14,1,0,2012-07-24,3.94

In [16]:
#build the friends_count column by join (users and friends)

source = 'Pittsburgh_full_friend_text.json'
t4 = etl.fromjson(source)
t5 = t3.join(t4, # right table
                   lkey='user_id',rkey='user_id', #join equality columns
                   rprefix='t4_') # prefixes of columns from each table (not mandatory)

def friend_count(text):
    if text[0]=='[' and text[-1]==']':
        items =  text[1:-1].split(', ') # turn values to list
        if text[3:7]== 'None':
            return 0
        return len(items)

t6 = t5.convert('t4_friends' , friend_count)
t6.display(10)

user_id,review_count,fans,elite,yelping_since,average_stars,t4_friends
--26jc8nCJBy4-7r3ZtmiQ,2,0,0,2014-08-03,5.0,0
--6CV8BPNofy7jt1JavD-g,32,2,0,2011-08-29,3.38,1
--8EvC9O7Ycim8vCP4Cj0w,4,0,0,2014-08-14,3.75,33
--CH8yRGXhO2MmbF-4BWXg,12,0,0,2011-07-18,2.33,0
--EMqnd727rtC0G5Oc-Mrg,28,0,0,2008-08-05,3.82,1
--OECAoqfSTBaZ3biOyzwA,4,0,0,2016-09-20,4.25,0
--RBfYfIpx44V5Kux2fPFA,11,0,0,2013-06-24,4.27,0
--TvGNywm2I1iwNWZmerBA,1,0,0,2012-04-27,1.0,0
--Yrq6JLmQNdbZkWJsHy5Q,145,8,1,2010-03-12,4.14,61
--_WHb1Fw3fH6RXbxpExgA,1,0,0,2013-01-14,5.0,1

In [17]:
# adding new user ID and rename the table

t7 = t6.addrownumbers()
t_users = t7.rename({'row':'user_id','user_id':'yelp_user_id','elite':'is_elite','t4_friends':'friends_count'})
t_users.display(10)

user_id,yelp_user_id,review_count,fans,is_elite,yelping_since,average_stars,friends_count
1,--26jc8nCJBy4-7r3ZtmiQ,2,0,0,2014-08-03,5.0,0
2,--6CV8BPNofy7jt1JavD-g,32,2,0,2011-08-29,3.38,1
3,--8EvC9O7Ycim8vCP4Cj0w,4,0,0,2014-08-14,3.75,33
4,--CH8yRGXhO2MmbF-4BWXg,12,0,0,2011-07-18,2.33,0
5,--EMqnd727rtC0G5Oc-Mrg,28,0,0,2008-08-05,3.82,1
6,--OECAoqfSTBaZ3biOyzwA,4,0,0,2016-09-20,4.25,0
7,--RBfYfIpx44V5Kux2fPFA,11,0,0,2013-06-24,4.27,0
8,--TvGNywm2I1iwNWZmerBA,1,0,0,2012-04-27,1.0,0
9,--Yrq6JLmQNdbZkWJsHy5Q,145,8,1,2010-03-12,4.14,61
10,--_WHb1Fw3fH6RXbxpExgA,1,0,0,2013-01-14,5.0,1

In [18]:
#Validate the fields type
fields = t_users.fieldnames()
for f in fields:
    print f,'\t', t_users.typecounter(f)

user_id 	Counter({'int': 52141})
yelp_user_id 	Counter({'unicode': 52141})
review_count 	Counter({'int': 52141})
fans 	Counter({'int': 52141})
is_elite 	Counter({'int': 52141})
yelping_since 	Counter({'unicode': 52141})
average_stars 	Counter({'float': 52141})
friends_count 	Counter({'int': 52141})

#### Load

In [19]:
#Connect to DB
try:
    con = mdb.connect(
                   host = '127.0.0.1', user = 'root', passwd = 'root', use_unicode=True, charset="utf8")
except:
    con = mdb.connect(
                   host = '127.0.0.1', user = 'root', passwd = '1234', use_unicode=True, charset="utf8")
# setting a cursor
cur = con.cursor()     # get the cursor

In [20]:
# append the data to existing tables
cur.execute('SET SQL_MODE=ANSI_QUOTES')
t_users.appenddb(cur,'dim_users',schema='yelp_pittsburgh',commit=True)

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: Warning: Changing sql mode 'NO_AUTO_CREATE_USER' is deprecated. It will be removed in a future release.
  from ipykernel import kernelapp as app
C:\Program Files\Anaconda2\lib\site-packages\MySQLdb\cursors.py:206: Warning: Data truncated for column 'yelp_user_id' at row 1
  r = r + self.execute(query, a)

In [21]:
#Closing the Cursor
cur.close()

## Business

### Extract

In [22]:
# Open and display the bussiness json file.
filename= 'yelp_academic_dataset_business_PA.json'
t1 = etl.fromjson(filename)
#t1.display(10)

In [23]:
#Check the types of the data
fields = t1.fieldnames()
for f in fields:
    print f,'\t', t1.typecounter(f)

city 	Counter({'unicode': 8091})
review_count 	Counter({'int': 8091})
neighborhood 	Counter({'NoneType': 4086, 'unicode': 4005})
name 	Counter({'unicode': 8091})
business_id 	Counter({'unicode': 8091})
longitude 	Counter({'float': 8091})
postal_code 	Counter({'float': 8070, 'NoneType': 21})
hours 	Counter({'unicode': 5599, 'NoneType': 2492})
state 	Counter({'unicode': 8091})
is_open 	Counter({'int': 8091})
stars 	Counter({'float': 8091})
address 	Counter({'unicode': 7975, 'NoneType': 116})
latitude 	Counter({'float': 8091})
attributes 	Counter({'unicode': 7263, 'NoneType': 828})
type 	Counter({'unicode': 8091})
categories 	Counter({'unicode': 8080, 'NoneType': 11})

### Business Catagories
We wish to reduce the number of categories in Yelp to 12 main categories. In order to be able to get insights from those 12 categories, we will implement them as 12 Binary columns in our Business Dimention.

In [24]:
#Extract csv file- for mapping the categories
csv_filename = "category.csv"
map_categories_table = etl.fromcsv(csv_filename)
#map_categories_table.display(5)

In [25]:
#Create dictionary to map all categories to 10 main 
categories_dic = {}
for row in map_categories_table:
    categories_dic[row[0]] = row[1]

### Transform

In [26]:
#Choose only businesses from Pittsburgh
#t2 = etl.select(t1, "{city} =='Pittsburgh'")
t2 = t1

In [27]:
#Order the fields (and display)
t3 = t2.cut(['business_id','name','is_open','neighborhood','latitude','longitude','stars','review_count','categories'])
#t3.display(1)

#### order and split the categories

In [28]:
#Create the function for the convertion that reduces the categories.
def reduce_categories(text):
    if text[0]=='[' and text[-1]==']':
        items =  text[1:-1].split(', ') # turn values to list
    else:
        return None
    output = {}
    for i in items:
        key = categories_dic.get(i[2:-1])
        value = 1
        output[key]=int(value)
    return output

#Test
sample = t3[1][8]
print reduce_categories(sample)
print type(reduce_categories(sample))

{u'8': 1, u'3': 1, None: 1, u'4': 1}
<type 'dict'>

In [29]:
# Convert the data to reduce the categories
t4 = t3.convert('categories',reduce_categories)
t4.typecounter('categories')
#unpack the dictionary in category column to 12 seperate columns
t5 = t4.unpackdict('categories')
#t5.display(1)

In [30]:
# Order fileds and change category fields name from number to the real name
t6 = etl.rename(t5, {'1': 'food','2': 'art & enteraitment','3': 'stores','4': 'beauty & spa','5': 'health','6': 'finance','7': 'turists','8': 'cars & transportation', '9': 'bars & alcohol','10': 'other','11': 'fashion','12': 'real estate'})
t7 = t6.cut(['business_id','name','is_open','neighborhood','latitude','longitude','stars','review_count', 'food', 'art & enteraitment', 'stores', 'beauty & spa', 'health', 'finance', 'turists', 'cars & transportation', 'bars & alcohol', 'other', 'fashion', 'real estate'])
#t7.display(10)

In [31]:
# change None to 0 in the categories fields
def None_to_0(text):
    if text == None:
        return 0
    else:
        return text
t8 = etl.convert(t7, ('food', 'art & enteraitment', 'stores', 'beauty & spa', 'health', 'finance', 'turists', 'cars & transportation', 'bars & alcohol', 'other', 'fashion', 'real estate'), None_to_0)
#t8.display(10)

In [32]:
# add ID
t9 = t8.addrownumbers()
t_business = t9.rename({'row':'business_id', 'business_id':'yelp_business_id', 'name':'business_name'})
t_business.display()

business_id,yelp_business_id,business_name,is_open,neighborhood,latitude,longitude,stars,review_count,food,art & enteraitment,stores,beauty & spa,health,finance,turists,cars & transportation,bars & alcohol,other,fashion,real estate
1,cnGIivYRLxpF7tBVR_JwWA,Plush Salon and Spa,1,None,40.4445439533,-80.1745398943,4.0,4,0,0,1,1,0,0,0,1,0,0,0,0
2,P3LisOj7DktgGa7C5FYpnA,Benjamin Franklin Plumbing,1,West View,40.5341627,-80.0498873,4.0,8,0,0,0,0,0,0,0,0,0,1,0,0
3,93otbGHE0s0m-lU1osvg9w,Rivertowne,1,North Side,40.4459861,-80.0108802,3.0,102,1,1,0,0,0,0,0,0,1,0,0,0
4,csdZolWIWvkIHIqsCmV6sg,City Vista,1,Greentree,40.4263863165,-80.037872133,2.0,5,0,1,0,0,0,0,1,0,0,1,0,1
5,kdjrQ2tuY4eqo4JZWIx50Q,The Scarehouse,1,Etna,40.499285,-79.944321,3.5,38,0,1,0,0,0,0,0,0,0,0,0,0

### Load

In [33]:
fields = t_business.fieldnames()
for f in fields:
    print f,'\t', t_business.typecounter(f)

business_id 	Counter({'int': 8091})
yelp_business_id 	Counter({'unicode': 8091})
business_name 	Counter({'unicode': 8091})
is_open 	Counter({'int': 8091})
neighborhood 	Counter({'NoneType': 4086, 'unicode': 4005})
latitude 	Counter({'float': 8091})
longitude 	Counter({'float': 8091})
stars 	Counter({'float': 8091})
review_count 	Counter({'int': 8091})
food 	Counter({'int': 8091})
art & enteraitment 	Counter({'int': 8091})
stores 	Counter({'int': 8091})
beauty & spa 	Counter({'int': 8091})
health 	Counter({'int': 8091})
finance 	Counter({'int': 8091})
turists 	Counter({'int': 8091})
cars & transportation 	Counter({'int': 8091})
bars & alcohol 	Counter({'int': 8091})
other 	Counter({'int': 8091})
fashion 	Counter({'int': 8091})
real estate 	Counter({'int': 8091})

In [34]:
# setting a new cursor
cur = con.cursor()

In [35]:
cur.execute('USE yelp_Pittsburgh')
cur.execute('SET SQL_MODE=ANSI_QUOTES')
# append the data to existing tables
t_business.appenddb(cur,'dim_business',schema='yelp_pittsburgh', commit=True)

C:\Program Files\Anaconda2\lib\site-packages\MySQLdb\cursors.py:206: Warning: Data truncated for column 'Yelp_business_id' at row 1
  r = r + self.execute(query, a)
C:\Program Files\Anaconda2\lib\site-packages\MySQLdb\cursors.py:206: Warning: Data truncated for column 'business_name' at row 1
  r = r + self.execute(query, a)

In [36]:
#Closing the Cursor - Do we need to close and open it every time?
cur.close()

## Date

In [37]:
# setting a cursor
cur = con.cursor()     # get the cursor

#### append data to existing tables

In [38]:
cur.execute("SET @currdate := '2005-01-01';")
cur.execute("SET @enddate := '2018-01-01';")
cur.execute("DROP PROCEDURE IF EXISTS BuildDate")
 
cur.execute(""" CREATE PROCEDURE BuildDate()
         BEGIN
        WHILE @currdate < @enddate DO
            INSERT INTO dim_dates  (date, day, month, year, day_name)
            VALUES (  @currdate,  DAY(@currdate),  MONTH(@currdate), 
              YEAR(@currdate), DAYNAME(@currdate));
            SET @currdate := DATE_ADD(@currdate, INTERVAL 1 DAY);
END WHILE;
    END  """)
 
cur.execute('CALL BuildDate();')
con.commit()

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: Warning: PROCEDURE yelp_pittsburgh.BuildDate does not exist
  app.launch_new_instance()

### Add Holidays

In [39]:
# New Year
cur.execute("""
update dim_dates 
set holiday = 'New Year''s Day'
where day = 01 and month = 01;
""")

# Halloween
cur.execute("""
update dim_dates 
set holiday = 'Halloween'
where day = 31 and month = 10;
""")

# Independence Day
cur.execute("""
update dim_dates 
set holiday = 'Independence Day, U.S'
where day = 04 and month = 07;
""")

# Memorial Day
cur.execute("""
update dim_dates 
set holiday = 'Memorial Day'
where date = '2005-05-30' or date = '2006-05-29' or date = '2007-05-28' or date = '2008-05-26' or date = '2009-05-25'
or date = '2010-05-31' or date = '2011-05-30' or date = '2012-05-28' or date = '2013-05-27' or date = '2014-05-26'
or date = '2015-05-25' or date = '2016-05-30' or date = '2017-05-29';
""")

# Thanksgiving
cur.execute("""
update dim_dates 
set holiday = 'Thanksgiving Day'
where date = '2005-11-23' or date = '2006-11-22' or date = '2007-11-28' or date = '2008-11-27' or date = '2009-11-25'
or date = '2010-11-24' or date = '2011-11-23' or date = '2012-11-22' or date = '2013-11-27' or date = '2014-11-26'
or date = '2015-11-25' or date = '2016-11-24' or date = '2017-11-23';
""")

# Christmas Day
cur.execute("""
update dim_dates 
set holiday = 'Christmas Day'
where day = 25 and month = 12;
""")

# Christmas Eve
cur.execute("""
update dim_dates 
set holiday = 'Christmas Eve'
where day = 24 and month = 12;
""")

# Black Friday
cur.execute("""
update dim_dates 
set holiday = 'Black Friday'
where day_name = 'Friday' and month = 11 and day between 21 and 29;
""")

16L

In [40]:
con.commit()
cur.close()

## Reviews

### Extract

In [41]:
filename= 'yelp_academic_dataset_review_drop_PA.json'

In [42]:
t1 = etl.fromjson(filename)

fields = t1.fieldnames()

for f in fields:
    print f,'\t', t1.typecounter(f)

funny 	Counter({'int': 179774})
user_id 	Counter({'unicode': 179774})
review_id 	Counter({'unicode': 179774})
business_id 	Counter({'unicode': 179774})
stars 	Counter({'int': 179774})
date 	Counter({'unicode': 179774})
useful 	Counter({'int': 179774})
type 	Counter({'unicode': 179774})
cool 	Counter({'int': 179774})

Due to the current types of data, we need to do the following:
 1. Add ascending numbers to the rows and call it "review_id" (this will be used for the auto-increamented review_ID field).
 2. Aggragate the columns `funny`, `cool` and `useful` to the "votes_aggregate" column.
 3. Change the user_id, business_id, date_id to their Foreign keys (in the DB). This will be done during the Load.

In [43]:
t2 = t1.addrownumbers()
#t2.display(10)

In [44]:
t5 = t2.rename({'row':'review_id','review_id':'yelp_review_id',  'user_id':'yelp_user_id', 'business_id':'yelp_business_id'})
#t5.display(10)

In [45]:
def votes_aggregate(row):
    return row['funny']+row['cool']+row['useful']

t6=t5.addfield('votes_aggregate', votes_aggregate)
#t6.display(10)

In [46]:
t7 = t6.cut(['review_id','yelp_review_id', 'yelp_user_id', 'yelp_business_id', 'date', 'stars', 'votes_aggregate' ])
#t7.display(10)

#### add the Foreign Keys from the different dimentions table
Note: We are doing this with PETL, because most computers are not strong enough for doing in in as a MySQL execution.

In [47]:
#TEST
#t7 = etl.head(t7, 10) #THIS IS THE TEST - SHOULD BE DELETED

# Add the foriegn key - User ID 
t8 = t7.leftjoin(t_users.cut('user_id','yelp_user_id'),
                 lkey='yelp_user_id',rkey='yelp_user_id').cutout('yelp_user_id')

t8.display(10)

review_id,yelp_review_id,yelp_business_id,date,stars,votes_aggregate,user_id
65833,9eo2MpfI-JjVP-98DB5PCQ,iRhB506lbc0kU5289zyHzg,2014-12-15,5,3,1
132346,WpUMBp7hamQ88N-uibAfkw,X-b4-QvZLENnf3yFwhpSXQ,2011-09-27,5,1,2
101603,Y0fLM9tWvU3NcfJkYlYSuw,Rzw3_l2uDv-OSaHdPCJgjQ,2015-05-17,4,0,3
58635,uaD2CBVogeVjYC_5CcQ8aQ,o5w4WlufJ3KryVMGRgu_FA,2015-12-11,4,0,4
67816,O5FzP4FIyntoxaDLOtwgUw,TZpTyyGvQkKPnt59PVUGhg,2015-12-11,5,0,4
96090,h4QeZRppF3DDXQ5ECJaNIw,mnI_n7A8sxgOSmtgI3wzQQ,2015-12-11,5,0,4
164168,RWBLnBQ6mS20gHfrVfQARQ,_f_8h3qwMqZkGtK1qVgN1g,2015-12-11,1,0,4
175700,HicFVXD2ihgpnWm8hZmJxA,fquYX17KU0N1Urk1iB2P5g,2015-02-13,5,1,4
30941,Zn3lodQY9O24JUr3IqXW5Q,b_XIKJ2nNzksuWhfMTEehQ,2008-10-14,5,1,5
31436,u9Gf29hgLuv9ZA6nEpbPOg,6b5RLz7szHcSTGKjvKWR_w,2008-09-04,5,4,5

In [48]:
# Add the foriegn key - Business ID
t9 = t8.leftjoin(t_business.cut('business_id','yelp_business_id'),
            lkey='yelp_business_id', rkey = 'yelp_business_id').cutout('yelp_business_id')

t9.display(10)

review_id,yelp_review_id,date,stars,votes_aggregate,user_id,business_id
161316,q6zDnAyfyzEhpFZYU8huPA,2016-01-16,4,0,2863,5716
161317,grm_MOzOKIw-icfJXv0-KQ,2017-01-16,4,1,29804,5716
161315,OSKmqFqyoMG7JzHZrQBlIQ,2016-01-02,5,0,37017,5716
161318,jUJN-ye9-FXCvbOYHWQObw,2016-09-09,3,0,49454,5716
161319,fHr9YK4-LDyD2kGduRjmrw,2015-01-31,1,0,17422,5716
161314,YGEBymy_9OgZ7_a7Ee0NEA,2013-04-13,5,0,27167,5716
382,fcRGUBJ3TXLaKeL_2kmvGA,2016-01-29,5,0,29130,4620
385,ERw06vyyjlFsxTO72KQL8g,2013-05-17,5,1,40398,4620
386,Mt6fkdPA3wkupkAqaG1_Cg,2010-05-23,5,3,10403,4620
383,_Lyk4DMbW2AVm-BgvLgGkQ,2012-09-29,5,1,19491,4620

In order to get the date ID, we use the table that was loaded to the DB.

In [56]:
t_dates = etl.fromdb(con, '''SELECT date_id, DATE_FORMAT(dim_dates.date, '%Y-%m-%d') AS date FROM dim_dates;''')
t_dates.display(10)

date_id,date
1,2005-01-01
2,2005-01-02
3,2005-01-03
4,2005-01-04
5,2005-01-05
6,2005-01-06
7,2005-01-07
8,2005-01-08
9,2005-01-09
10,2005-01-10

In [59]:
# Add the foriegn key - Date ID
t10 = t9.leftjoin(t_dates,
            lkey='date', rkey = 'date').cutout('date')

t10.display(10)

review_id,yelp_review_id,stars,votes_aggregate,user_id,business_id,date_id
51362,HoWAaMSmUJJ0o7VMGeu82Q,5,1,10335,256,103
9463,LNe9pUoCJcVWq2KqCfqqJg,5,0,17179,2229,124
121981,D4FC0t2LyyDfqaECrztOvg,4,1,32607,1618,135
144796,aK0D6xt5pTmVVTIW-0O0sQ,4,0,32607,6077,135
85320,YQ9JNQMzvZn-IaY7j0z_Jg,3,0,32607,6389,135
163574,JhHURTnnmYVQzx82vjgGjg,5,0,32607,3581,135
170840,vM4cPcEAJ7H5yN56ukMIIw,5,2,32607,2495,135
175919,k9Eyxp8enSJU2l39bW9sjQ,5,1,32607,509,135
128756,mCfN7MIbg9FONW8S2xZKzw,3,1,32607,5656,146
70170,euU8avFp6j1noN70fulylQ,3,0,32607,5569,146

In [ ]:
# setting a cursor
cur = con.cursor()

cur.execute('USE yelp_Pittsburgh')
cur.execute('SET SQL_MODE=ANSI_QUOTES')

# append the data to existing tables - loading by "chunks"
start = 0
end = 20000
row_num = etl.nrows(t10)
while end < row_num:
    t10.rowslice(start, end).appenddb(cur,'fact_reviews',schema='yelp_pittsburgh', commit=True)
    start = end
    end += 20000

    #Add the last chunk of data
t10.rowslice(start, row_num).appenddb(cur,'fact_reviews',schema='yelp_pittsburgh', commit=True)

C:\Program Files\Anaconda2\lib\site-packages\MySQLdb\cursors.py:206: Warning: Data truncated for column 'yelp_review_id' at row 1
  r = r + self.execute(query, a)

In [ ]:
con.commit()
cur.close()